{% extends 'tasks/base.html' %}
{% block content%}
{% load static %} 
{% load crispy_forms_tags %}

<link href="{% static "/css/main.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
<br>
<h3>LOGIN</h3>

<br>
<!-- contraseña=12345 superuser=benja correo=admin@admin.com-->
<form action="" method="post">
   {%csrf_token%}
   
    <div class="card mx-auto" style="width: 30rem; ">
        <div class="card-body">
        <h4 class="card-title">Iniciar Sesion</h4>
         {{form |crispy }}
         <a href={% url 'home' %} class="card-link">Inicio</a>&ensp;
         <a href={% url 'register' %} class="card-link">Registrarse</a>
         <a href={% url 'password_change' %} class="card-link">Olvide mi Contraseña</a>
         <button type="submit" class="btn btn-sm btn-primary float-end">Iniciar sesión</button>
         </div>
    </div>
    
    
   
  
</form>
{% endblock %}