{% extends 'tasks/base.html' %}
{% load static %} 
{% block content%}
<html lang="es">
<head>
    <link href="{% static "/css/nosotros.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />  
</head>


<body>
    <div class="container1  mb-5 d-flex  justify-content-center vh-100">
        <div >
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum officia, ducimus quam assumenda, animi suscipit debitis, voluptatem et repudiandae vitae sunt. Reiciendis necessitatibus soluta non cumque quae laboriosam, facere repudiandae!
          Doloremque cupiditate quaerat nisi distinctio ratione odit nesciunt perferendis saepe inventore totam quibusdam culpa eum repellat laborum officia repellendus itaque pariatur, eos doloribus modi ipsa. Culpa eveniet repellendus incidunt magni.</p>
        </div>
        <img src="https://cdn.donmai.us/sample/34/e5/__emiya_shirou_senji_muramasa_and_senji_muramasa_fate_and_1_more_drawn_by_eeju__sample-34e52ba72325507f57371d16a5e7a804.jpg" class="img-fluid" alt="...">

        <div >
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum officia, ducimus quam assumenda, animi suscipit debitis, voluptatem et repudiandae vitae sunt. Reiciendis necessitatibus soluta non cumque quae laboriosam, facere repudiandae!
            Doloremque cupiditate quaerat nisi distinctio ratione odit nesciunt perferendis saepe inventore totam quibusdam culpa eum repellat laborum officia repellendus itaque pariatur, eos doloribus modi ipsa. Culpa eveniet repellendus incidunt magni.</p>
          </div>
      </div>
</body>

</html>
{% endblock %}