{% extends 'tasks/base.html' %}

{% block content %}
<br>
<h3 style="color: aliceblue;">Perfil</h3>
<br>
<div class="row">
  <div class="col-md-12">
    <h1 style="color: aliceblue;">Datos del usuario</h1>
    <div class="card mx-auto bg-dark" style="width: 9rem; border-radius: 1rem; border-color: #ffffff;">
      <div class="card-body">
        
      
        <a href={% url 'detalle_perfil' %} class="btn btn-primary">Datos del Perfil</a>
      
        
      </div>
    </div>
  </form>
      
  </div>

 
</div>

<table class="table">
  <thead>
    <tr>
      <th>Nombre de usuario</th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Correo electrónico</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ form.username.value }}</td>
      <td>{{ form.first_name.value }}</td>
      <td>{{ form.last_name.value }}</td>
      <td>{{ form.email.value }}</td>      
    </tr>
  </tbody>
</table>
<br>
<br>
<br>
{% endblock %}